.head{
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 10;
}
.icon{
    width: 6.3%;
    margin-bottom: 4px;
}
.header-nav{
    /* border: 1px solid black; */
    padding: 0% 6%;
    min-height: 3%;
    background-color: #34495E;
}
    .header-nav-content{
        text-align: start;
        text-transform: uppercase;
        color: white;
        font-size: 100%;
    }
    .header-nav-content a{
        color: white;
        transition-duration:250ms;
    }
    .header-nav-content a:hover{
        color: yellow;
        text-decoration: underline;
    }
.header{
    /* border: 1px solid white; */
    height: 9%;
    padding: 0% 6%;
    background-color: #2C3E50;
}
    .header-context{
        align-items: center;
    }
    .shopping-card-icon{
        
        width: 35px;
        height: 35px;
    }
    .heart-icon{
        width: 35px;
        height: 35px;
       
    }
.nav-bar{
    height: 3%;
    padding: 0% 6%;
    background-color: #34495E;
    font-size: 100%;
    text-transform: uppercase;
    color:white;
}
.nav-bar .item{
    width: 11.6%;
    position: relative;
   
}
.nav-bar .item i{
    margin: 0px 10px;
    font-size: 20px;
}
.nav-bar .item .drowdown{
    width: 150px;
    background-color: rgba(66, 66, 66, 0.95);
    left: -35%;
    overflow: visible;
    position: absolute;
    z-index: 4;
}
.nav-bar .item .drowdown .list-dropdown{
    list-style: none;
    padding: 15px;
}
.nav-bar .item .drowdown .list-dropdown li{
    padding: 10px 0px;
}
.nav-bar .item a{
    color: white;
}
.nav-bar .item a:hover{
    text-decoration: underline;
}


/* ---------------------------------------------------- */

.header-popup{
    padding-bottom: 10px;
    position: absolute;         
    border-radius: 7px;
    box-shadow: -5px 5px 30px;
    width: 500px;
    height: 500px;
    visibility: hidden;
    z-index: 17;
    background-color: white;
    border: 1px solid #606060;
    transform: translate(-85%,0%);
}
.header-popup *{
    visibility: inherit;
}
.footer-section-header-popup{
    padding: 0px 20px;
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(238, 238, 238);
}
.footer-section-header-popup button{
    height: 40px;
    color: white;
    background-color: #2C3E50;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 0px 0px 20px;
}
.footer-section-header-popup button:hover{
    background-color: #6c83a5;
}
.footer-section-header-popup button:hover:active{
    background-color: #2C3E50;
}
.header-popup-content{
    padding: 5px 15px 5px 15px;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}
.popup-content-row{
    padding:15px 0px;
    width: 100%;
    min-height: 70px;
}
.deleteTransition{
    transition: 0s;
}
.deleteTransition *{
    transition: 0s;
}