.product-display{
    
    margin: 12% 6% 3% 6%;
    width: 88%;
    
    
    
}
.product-brand{
    width: 100%;
    height: 280px;
    
    margin-bottom: 30px;
}
.product-brand .brand{
    width: 100%;
    height: 30px;
    background-color: #7F8C8D;
    color: white;
    font-size: 18px;
    line-height: 30px;
    padding-left: 3px;
    
}
.wrapper{
    max-height: 280px;    
    width: 100%;
    display: flex;
    justify-content: left;
    overflow-x: auto;
    overflow-y: hidden;
    /* border: 1px solid black; */
}
.wrapper .item{
    min-width: 24%;
    max-width: 24%;
    height: 250px;
    margin-right: 1.33%;
    border: 1px solid black;
}
.wrapper .item .name{
    text-align: center;
    color: black;
}
.wrapper .item img{
    height: 100%;
}