.profile-root{
    margin: 12% 6% 4% 6%;
}
.base-hover:hover{
    text-decoration: underline;
    color: #29B6F6;
}
.profile-tabs-section{
    border-right: 1px solid #CFD8DC;
}
.profile-detail-section{
    padding: 0px 30px;
}
.profile-detail-section table{
    border:1px solid black;
    width: 100%;
}
.profile-detail-section table tr{
    height: 70px;
}
.profile-detail-section table .label{
    width: 20%;
    text-align: end;
    padding: 0px 20px;
    color: rgba(85,85,85,.8);
}
.profile-icon{
    height: 30px;
    margin-right: 10px;
}
.profile-tabs{
    list-style: none;
}

.profile-tabs button{
    transition: 100ms;
    display: block;
    text-align: start;
    border-radius: 5px;
    width: 100%;
    padding: 0px 60px;
    background-color: white;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
}
.profile-tabs button:hover{
    background-color: #90A4AE;
}
.profile-tabs button:active{
    background-color: #78909C;
}