.product-display{
    
    margin: 12% 6% 4%;
    width: 88%;
    height: 900px;
    border: 1px solid black;
    
}
.product-brand{
    width: 100%;
    height: 280px;
    
    margin-bottom: 20px;
}
.product-brand .brand{
    width: 100%;
    height: 30px;
    background-color: #7F8C8D;
    
}
.product-brand .content{
    width: 100%;
    height: 340px;
    overflow-x: auto;
    overflow-y: hidden;
    /* display: flex; */
    white-space: nowrap;
    
    border: 1px solid black;
    
    text-align: center;
    
}
.product-brand .content .cell{
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-top: 0px;
    border: 1px solid black;
    margin-right: 15px;
}