.product-root{
    margin-top:12%;
    margin-left: 6%;
    margin-right: 6%;
    
    border: 1px solid black;
}
.product-header{
    width: 100%;
}
.product-header{
    border: 1px solid black;
}
.product-header h1{
    line-height: 100%;
}
.img-section{
    width: 100%;
    height: 490px;
    
    
    
}
.img-section .main-img{
    width: 100%;
    height: 350px;
    
}
.img-section img{
    
    width: 100%;
    height: 100%;
    
}
.list-img{
    
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    max-height: 140px;
}
.list-img .img-container{
    min-width: 130px;
    max-width: 130px;
    height: 120px;
    border: 1px solid black;
}
.list-img img{
    width: 100%;
    height: 100%;
}

.detail-section{
    border: 1px solid black;
}