*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
}
.header-nav{
    /* border: 1px solid black; */
    border-radius: 10px;
    min-height: 36px;
    background-color: #949BDC;
}
    .header-nav-content{
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        font-size: 18px;
    }
    .header-nav-content a{
        color: white;
        transition-duration:250ms;
    }
    .header-nav-content a:hover{
        color: yellow;
        text-decoration: underline;
    }
.header{
    /* border: 1px solid black; */
    min-height: 150px;
    background-color: #FFF2F2;
}
    .header-context{
        align-items: center;
    }
.nav-bar{
    min-height: 60px;
    background-color: #AEB3E7;
}