*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: serif;
}
.icon{
    width: 36px;
    height: 36px;
    margin: 0px 20px;
}
.header-nav{
    /* border: 1px solid black; */
    
    min-height: 36px;
    background-color: #34495E;
}
    .header-nav-content{
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
    }
    .header-nav-content a{
        color: white;
        transition-duration:250ms;
    }
    .header-nav-content a:hover{
        color: yellow;
        text-decoration: underline;
    }
.header{
    /* border: 1px solid black; */
    min-height: 100px;
    background-color: #2C3E50;
}
    .header-context{
        align-items: center;
    }
    .shopping-card-icon{
        margin: 0px 15px;
        width: 50px;
        height: 46,43px;
    }
    .heart-icon{
        
        margin: 0px 20px;
        width: 46.43px;
        height: 46.43px;
    }
.nav-bar{
    min-height: 36px;
    background-color: #34495E;
    font-size: 18px;
    text-transform: uppercase;
    color:white;
}
.nav-bar .item{
    margin: 0px 60px;
}
.nav-bar .item i{
    margin: 0px 10px;
    font-size: 20px;
}

.product-area{
    border: 1px solid black;
    width: 100%;
}
.product-cell{
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    padding: 15px;
}
.product-content{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
    