*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.icon{
    width: 9%;
    
}
.header-nav{
    /* border: 1px solid black; */
    padding: 0% 6%;
    min-height: 3%;
    background-color: #34495E;
}
    .header-nav-content{
        text-align: start;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
    }
    .header-nav-content a{
        color: white;
        transition-duration:250ms;
    }
    .header-nav-content a:hover{
        color: yellow;
        text-decoration: underline;
    }
.header{
    /* border: 1px solid white; */
    height: 9%;
    padding: 0% 6%;
    background-color: #2C3E50;
}
    .header-context{
        align-items: center;
    }
    .shopping-card-icon{
        
        width: 35px;
        height: 35px;
    }
    .heart-icon{
        width: 35px;
        height: 35px;
       
    }
.nav-bar{
    min-height: 3%;
    padding: 0% 6%;
    background-color: #34495E;
    font-size: 18px;
    text-transform: uppercase;
    color:white;
}
.nav-bar .item{
    width: 11.6%;
   
}
.nav-bar .item i{
    margin: 0px 10px;
    font-size: 20px;
}

.product-area{
    border: 1px solid black;
    
    
}
.product-cell{
    /* border: 1px solid black; */
    width: 350px;
    height: 350px;
    padding: 15px;
}
.product-content{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}
    